.function{
    position: relative;
    color: black;
    border: 3px solid #010101;
    border-radius: 7px;
    font-weight: 700;
    margin: 28px 5px;
}
.func_lable{
    background-color: rgb(127, 90, 240);
    overflow: hidden;
    font-weight: 400;
    position: absolute;
    top: -14px;
    left: 5px;
    border-radius: 5px;
    border: 0.1px solid #010101;
    padding: 0.2rem 0.4rem;

}
.panel_contain{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.button{
    width: 100px;
    border:1px solid #010101;
     padding: 20px;
     margin: 15px 15px;
     text-align: center;
     border-radius: 5px;
     background-color: rgb(127, 90, 240);
     font-weight: 700;
}
.Weather_contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#panel_setvoice_btn{
    padding: 30px;

}
